.App{
  text-align: center;
}
.image-logo{
  height: 100px;
  width: 100px;
}

.app-form{
  position: fixed;
  bottom: 0;
  padding: 20px;
  z-index: 1;
  background-color: #e9e9eb;
  width: 90%;
  margin: 20px;
}

.app-formControl{
  display: flex !important;
  flex-direction: row !important;
}
.form-input{
  flex:1;
}

